<!DOCTYPE html>
<html lang="en">

<head>
  <title>Vue 3</title>
  <style>
    .box {
      height: 30px;
      width: 30px;
      background: red;
    }

    .box.box-2 {
      background: pink;
    }

    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div class="app" v-cloak>
    <!-- --------------------------- v-cloak prevents rendering be4 the whole vue app is ready -->
    {{greeting}}
    <input v-model="greeting" /> <!-- --------------------- v-model: used to get variables from vue to html -->

    <button v-on:click="visible = !visible">Show</button>

    <div v-if="visible" class="box" /> <!-- --------------- v-if: Conditional that displays element if it's true -->
    <!--   <div v-else-if="visible2" class="box box-2" />
    <div v-else class=" box box-3" /> -->

  </div>
</body>

<script src="https://unpkg.com/vue@next"></script>
<script>
  let app = Vue.createApp({
    data: function () {
      return {
        greeting: 'Hello Vue 3!',
        visible: false,
      }
    }
  })
  app.mount('.app')
</script>

</html>