<!DOCTYPE html>
<html lang="en">

<head>
  <title>Vue Components</title>

  <style>
    input {
      margin: 20px;
      display: block;
    }
  </style>
</head>

<body>
  <div class="app" v-cloak>
    <login-form />
  </div>
</body>

<script src="https://unpkg.com/vue@next"></script>
<script>

  let app = Vue.createApp({
    data: function () {
      return {
        greeting: 'Hello Vue 3!',
        visible: false,
      }
    },

    methods: {
      toggleBox() {
        this.visible = !this.visible
      },

      greet() {
        console.log(this.greeting);
      }
    }
  })

  /* All components should be between the app definition and mounting the app */

  app.component('login-form', {
    template: `
      <form @submit.prevent="handleSubmit">
       <h1> {{title}} </h1>
        <input type="email" v-model="email"/>  
        <input type="password" v-model="password"/>  
        <button>Log In</button>
      </form>
    `,
    data() {
      return {
        title: 'Login Form',
        email: '',
        password: ''
      }
    },

    methods: {
      handleSubmit() {
        console.log(this.email + `\n ` + this.password);
      }
    }
  })

  app.mount('.app')
</script>

</html>